.navbar-container {
    width: 100%;
}

.navbar-title {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-title {
        font-size: 1.2rem;
    }
}

.navbar-elements .nav-link {
    margin-right: 1rem;
}

/* Optional: Center the navbar elements on smaller screens */
@media (max-width: 768px) {
    .navbar-elements {
        text-align: center;
    }
}