.message-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 50%;
    z-index: 1000;
    text-align: left;
}

.message {
    margin-top: 16px;
    margin-bottom: 0;
}

.progress-meter {
    height: 4px;
    background-color: #007bff;
    transition: width 0.1s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}