img {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: white;
    margin-top: 5vh;
}

.detail-img {
    margin-bottom: 15px;
}